    
    
<section class="features-section">
  
    <div class="header-content">
      <h1 class="main-title">
        <span class="highlight">What Makes Us More </span>
        <br />
        <span class="bold-text">Special</span>
      </h1>
      
      <h2 class="section-title">
        <span class="highlight">KEY</span> FEATURE
      </h2>

    </div>
    <div class="divider"></div>
    <div class="content">
    <div class="features-grid">
      <div class="feature-item">
        <img src="img/laser.png"/>
        <h3 class="feature-title">Laser Technology</h3>
        <p class="feature-description">
          World's most advanced Diode Laser. Your treatment experience will be relaxing & smooth.
        </p>
      </div>
      <div class="feature-item">
        <img src="img/injection.png"/>
        <h3 class="feature-title">Painless Injection</h3>
        <p class="feature-description">
          Only dental clinic in New York, USA utilizing Painless Injection system. You will be amazed!
        </p>
      </div>
      <div class="feature-item">
        <img src="img/drill.png"/>
        <h3 class="feature-title">Dental Implant</h3>
        <p class="feature-description">
          30+ years of experience in Dental Implant with specialist care. You will be able to chew properly again!
        </p>
      </div>
      <div class="feature-item">
        <img src="img/machineq.png"/>
        <h3 class="feature-title">3D Dental Scanner</h3>
        <p class="feature-description">
          One of the world's most advanced 3D Dental Scanner with auto scanning only one in New York!
        </p>
      </div>
      <div class="feature-item">
        <img src="img/radio.png"/>
        <h3 class="feature-title">Digital Smile Design</h3>
        <p class="feature-description">
          We help to re-design your smile and shape your teeth to create a customised smile for your face!
        </p>
      </div>
      <div class="feature-item">
      <img src="img/crown.png"/>
      <h3 class="feature-title">Crown and Bridge</h3>
        <p class="feature-description">
          Transform your blackish gum to pinkish colour with painless, single appointment Laser Gum Treatment
        </p>
      </div>
    </div>
    </div>
  </section>