      <div class="p-3 mt-5" style="background-color: #5c5cff">
        <div class="row">
            <div class="col-md-6 col-12 mt-5">
                <div>
                    <div class="ms-5">
                        <h1 class="fw-semibolder text-white" style="font-size: 45px">
                            How to get our service?
                        </h1>
                        <p class="mt-3 fs-5 mb-5 text-white">
                            Just follow these simples steps
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-12 mt-4">
                <div>
                    <div>
                        <div class="row">
                            <div class="col align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;
                  " class="py-4 m-auto">
                                    <img src="img/call.png" />

                                    <h6>
                                        call for <br />
                                        appointment
                                    </h6>
                                </div>
                            </div>
                            <div class="col bs-body-color align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;"
                    class="py-4 m-auto">
                    <img src="img/date.png" />

                                    <h6>
                                        Get a <br />
                                        Date & Serial
                                    </h6>
                                </div>
                            </div>
                            <div class="col bs-body-color align-content-center align-items-center text-center m-1">
                                <div style="
                    background-color: rgb(255, 255, 255);
                    border-radius: 10px;
                    padding: 4px;
                    width: 200px;
                  " class="py-4 m-auto">
                                    <img src="img/consult.png" />
                                    <h6>
                                        Consult <br />
                                        Your dentist
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   