<section class="who-we-are">
  <header class="header">
    <div class="header-content">
      <h2 class="section-title">
        <span class="highlight">WHO</span> WE ARE
      </h2>
      <h1 class="main-title">
        <span class="highlight">Our Glorious</span>
        <br />
        <span class="bold-text">History</span>
      </h1>
    </div>
    <div class="divider"></div>
  </header>
  <div class="content">
    <img src="img/history.png" class="history-image" />
    <div class="history-content-wrapper">
      <article class="history-content">
        <h3 class="history-title">Our history</h3>
        <p class="history-description">
          Dentics is a well-known name in dental and oral care in New York. The journey of this institution started in 1990 under the hands of Dr. Jonathon Doe, Gold Medalist of Harvard University. Dentics dental center has been leading the way in dental treatment in USA for more than 30 years in keeping with the evolution of time and the modernization of the era.
        </p>
      </article>
    </div>
  </div>
</section>