<section class="cta-section">
    <div class="cta-content">
      <h2 class="cta-title">
        Let Us Brighten <span class="highlight">Your Smile!</span>
      </h2>
      <p class="cta-description">
        Helping patients achieve good dental health & beautiful smile is a privilege & responsibility. For over 30 years, we proudly provided the best dental experience in New York. Our comfort-first approach is designed to meet the needs of you & your entire family.
      </p>
    </div>
    <a href="#appointment" class="cta-button">Make An Appointment</a>

  </section>