<section class="hero-section">
  <div class="content">
    <header class="header">
      <h1 class="title">
        We Provide High <br /> Quality <span class="highlight">Dental</span> Services
      </h1>
      <p class="description">
        Appropriately embrace transparent materials via turnkey niche markets.
      </p>
    </header>
    <div class="cta-buttons">
      <a href="#getStarted" class="cta-button primary">Get Started</a>
      <a href="#LearnMore" class="cta-button secondary">Learn More</a>
    </div>
  </div>
  <img src="img/header.png" class="hero-image" />
</section>
