.newsletter {
    background: var(--White-BG, #f8fafc);
    display: flex;
    justify-content: center;
    padding: 96px 108px;
  }
  
  .newsletter-container {
    border-radius: 20px;
    background-color: rgba(33, 101, 131, 1);
    display: flex;
    align-items: center;
    gap: 40px 70px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .illustration-left,
  .illustration-right {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto 0;
  }
  
  .illustration-left {
    padding-bottom: 205px;
    width: 158px;
  }
  
  .illustration-right {
    padding-top: 225px;
    width: 146px;
  }
  
  .illustration-image {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
  }
  
  .subscription-form {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    justify-content: flex-start;
    margin: auto 0;
  }
  
  .form-header {
    color: var(--White-Primary, #fff);
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    margin-bottom: 48px;
  }
  
  .input-group {
    display: flex;
    gap: 24px;
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  
  .input-wrapper {
    flex: 1;
    min-width: 227px;
  }
  
  .form-input {
    width: 100%;
    border-radius: 5px;
    background: var(--white-30, rgba(255, 255, 255, 0.3));
    color: var(--White-Primary, #fff);
    padding: 17px 16px 17px 20px;
    border: none;
  }
  
  .submit-button {
    border-radius: 9px;
    background: var(--White-Primary, #fff);
    color: var(--black-gray-primary, #18181b);
    text-align: center;
    width: 256px;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  .submit-button:hover {
    background: var(--Primary, #516eff); 
    color: white;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
@media (max-width: 768px) {
  .input-group {
    flex-direction: column;
    gap: 16px;
    width: 100%;
    align-items: center; 
  }

  .input-wrapper {
    min-width: 80%; 
    max-width: 300px; 
    display: flex; 
    justify-content: center; 
  }

  .form-input {
    width: 100%; 
  }

  .submit-button {
    width: 80%; 
    max-width: 300px; 
    margin-top: 16px; 
  }
  
  .form-header {
    font-size: 30px; 
    margin: 20px; 
    padding: 0; 
  }
}

@media (max-width: 480px) {
  .newsletter {
    padding: 20px 20px;
  }

  .newsletter-container {
    flex-direction: column;
    align-items: center; 
  }

  .illustration-left,
  .illustration-right {
    display: none; 
  }

  .form-header {
    font-size: 24px; 
    margin: 20px; 
    padding: 0; 
  }
}
